<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keijiban</title>
</head>

<body>
    <h1>
        掲示板
    </h1>
    <ul>
        <% for(var i = 0; i < users.length; i++) { %>
            <li><%= users[i] %> : <%= texts[i] %></li>
        <% } %>
    </ul>
    <input type="text" class="input-name" placeholder="名前" />
    <input type="text" class="input-message" placeholder="メッセージ" />
    <button class="send-button">投稿</button>
    <script src="/static/index.js" defer></script>
</body>

</html>